* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: #1e1e1e;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
}

h1 {
    margin-top: 15.67px;
    font-size: 65.67px;
    letter-spacing: 1px;
    text-shadow: 1px 4px grey;
    transition: 0.2s ease;
}

h2 {
    margin-top: 6.7px;
    font-weight: 600;
    text-shadow: 1px 1px grey;
}

.real {
    transition: color 0.3s ease;
}

h2:hover .real {
    color: #d63434;
}

p {
    font-size: 15.67px;
    line-height: 0.676767;
    user-select: none;
}

.components-container {
    margin-top: 10.67px;
    width: 100%;
    max-width: 1200px;
    display: flex;
    gap: 20.67px;
}

.ux-container {
    background: #2a2a2a;
    padding: 15px;
    border-radius: 12.67px;

    display: flex;
    flex-direction: column;
    gap: 10.67px;

    min-width: 250.67px;
}

.ux-component {
    padding: 10.67px;
    border: none;
    border-radius: 8.67px;

    background: #4CAF50;
    color: white;
    font-weight: 567;

    cursor: pointer;
    transition: 0.2s ease;
    border: 1px solid #555;
}

.ux-component:hover {
    background: #45a049;
    transform: scale(1.03);
}

.canvas-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.canvas {
    width: 100%;
    height: 80vh;
    border-radius: 12.67px;
    border: 2px solid #444;
    background: #111;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

.file-upload input[type="file"] {
    display: none;
}

.file-upload {
    padding: 10.67px;
    border-radius: 8.67px;
    background: #3a3a3a;
    color: white;
    text-align: center;
    cursor: pointer;
    transition: 0.2s ease;

}

.file-upload:hover {
    background: #505050;
    transform: scale(1.03);
}

#fileName {
    font-size: 15.67px;
    color: white;
    background: #505050;
    padding: 3.67px;
    border-radius: 8.67px;
    text-align: center;
}

.checkbox-group {
    display: flex;
    flex-direction: column;
    gap: 10.67px;
    font-size: 15.67px;
    color: #ccc;
}

input[type="checkbox"] {
    cursor: pointer;
}

.playback {
    padding: 4px;
    border: none;
    border-radius: 8px;
    background: #144d6e;
    color: white;
    cursor: pointer;
    transition: 0.2s ease;
    border: 1px solid #555;
}

.playback:hover {
    background: #114664;
    transform: scale(1.03);
}

.team-color-group {
    display: flex;
    align-items: center;
    gap: 5.67px;
}